// COLORS

.hover-green:hover {
  color: $primary;
  cursor: pointer;
}

.color-green {
  color: $primary;
}

.active:hover,
.card-social-icons svg:hover {
  color: black;
}

.bg-color-green {
  background-color: $primary;
}

.btn {
  border-color: transparent;
}

.hover-underline:hover {
  text-decoration: underline;
}

// MAIN ELEMENTS

h1 {
  font-weight: normal;
  font-family: "Pacifico", sans-serif;
  font-size: 2rem;
}

main {
  min-height: 80vh;
}

#page-content {
  flex: 1 0 auto;
}

.card-profile-img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.user-profile-icon {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.card-title {
  margin-bottom: 0;
}

.card-user-info {
  gap: 1rem;
}

.post-message-form {
  width: 100%;
}

.text-anchor {
  text-decoration: none;
  color: black;
}

// GAP VARIABLE, THANKS ALEXANDER

@each $name, $gap in $gap {
  .gap-#{$name} {
    gap: $gap;
  }
}
