h1 {
  font-weight: normal;
  font-family: "Pacifico", sans-serif;
  font-size: 2rem;
}

.page-logo,
.active,
.card-social-icons {
  color: $logo-green;
}

main {
  min-height: 80vh;
}

#page-content {
  flex: 1 0 auto;
}

.card-profile-img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.card-title {
  margin-bottom: 0;
}

.card-user-info {
  gap: 1rem;
}
